body{font-family:Inter,system-ui}

.filter-box{
  border:1px solid #000;
  border-radius:8px;
  padding:6px;
  min-width:160px;
  background:#fff;
}

.filter-box strong{
  font-weight:800;
  display:block;
  margin-bottom:4px;
}

th,td{
  border:1px solid #000 !important;
  font-weight:600;
  text-align:center;
}

thead th{
  background:#e4e9ff !important;
  position:sticky;
  top:0;
  z-index:10;
}

.subtotal-row td{
  background:#f0f7ff !important;
  font-weight:700 !important;
}

.grandtotal-row td{
  background:#e8d7ff !important;
  font-weight:900 !important;
}

.bg-pos{background:#d1fae5 !important;}
.bg-neg{background:#fee2e2 !important;}
